.body {
  width: 100vw;
  height: 100vh;
}
.gallery {
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  color: $text-color;
  display: flex;
  align-items: center;
  justify-content: center;

  .gallery-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 100%;

    .filter {
      display: flex;
      align-items: center;
      .search-bar {
        display: flex;
        margin-top: 10%;
        color: $text-color;
        border-radius: 10px;
        border: 2px solid $emphasis-color;
        background-color: rgb(210, 111, 45);
      }
      ::placeholder {
        color: $text-color;
      }
    }

    .all-shows-wrapper {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-content: space-around;
      justify-content: space-around;

      .shows-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $text-color;
        font-size: 14px;
        margin-bottom: 2%;
        margin-top: 2%;
        border: 1px solid $emphasis-color;
        background-color: $emphasis-color;
        padding-bottom: 2%;
        border-radius: 5px;
      }
    }
  }
}

@media (max-width: 375px) {
  .body {
    width: 100vw;
    height: 100vh;
  }
  .gallery {
    max-width: 100%;
    max-height: 100%;
    color: $text-color;
    display: flex;
    align-items: center;
    justify-content: center;

    .gallery-wrapper {
      display: flex;
      flex-wrap: wrap;
      max-width: 100%;
      max-height: 100%;

      .filter {
        display: flex;
        align-items: center;
        .search-bar {
          display: flex;
          margin-top: 10%;
          color: $text-color;
          border-radius: 10px;
          border: 2px solid $emphasis-color;
          background-color: rgb(210, 111, 45);
        }
        ::placeholder {
          color: $text-color;
        }
      }

      .all-shows-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: flex-start;
        align-items: baseline;
        flex-direction: row;

        .shows-wrapper {
          display: flex;
          flex-direction: column;
          color: $text-color;
          border: 1px solid $emphasis-color;
          background-color: $emphasis-color;
          font-size: 14px;
          border-radius: 5px;
        }
      }
    }
  }
}
