@import "./mixins.scss";
@import "./navbar.scss";
@import "./footer.scss";
@import "./landing.scss";
@import "./about.scss";
html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: rgb(210, 111, 45);
}
