@import "./mixins.scss";
@import "./variables.scss";
@import "./navbar.scss";
@import "./footer.scss";
@import "./landing.scss";
@import "./about.scss";
@import "./contact.scss";
@import "./gallery.scss";
@import "./show.scss";

html,
body {
  margin: 0;
  height: 100%;
  width: 98vw;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: rgb(210, 111, 45);

  .app {
    max-width: 100%;
    max-height: 100%;
  }
}
