// .app {
//   width: 99%;
//   height: 100%;

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 10vh;
  border-radius: 5px;
  background-color: $emphasis-color;
  box-shadow: rgba(1, 0, 1, 0.829) 0px 5px 5px;
  position: sticky;
  top: 0;
  z-index: 1;

  a {
    color: goldenrod;
  }
}
// }
