.show {
  max-height: 100%;
  max-width: 100%;
  color: $text-color;

  .show-display {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    margin: 10px;

    .photo2 {
      grid-row: 1;
      height: 25%;
      padding-left: 5%;
    }

    .fetch-container {
      grid-row: 1;
      padding-top: 5%;

      .show-info {
        margin-top: 2%;
      }
    }
  }
}

@media (max-width: 1117px) {
  .show {
    max-height: 100%;
    max-width: 100%;
    color: $text-color;

    .show-display {
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      margin: 10px;

      .show-photo {
        height: 500px;
        width: auto;
      }

      .fetch-container {
        grid-row: 1;
        padding-top: 5%;

        .show-info {
          margin-top: 2%;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .show {
    height: 100%;
    width: 100%;
    color: $text-color;

    .show-display {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 10px;

      .show-photo {
        height: 300px;
        width: auto;
      }
    }

    .fetch-container {
      display: flex;

      .show-info {
        margin-top: 2%;
      }
    }
  }
}
